<div class="container">
  <div class="row show">
    <div class="col-sm-12">
      <div class="restaurant-info">
      <h1><%= @restaurant.name %></h1>
        <h4>Category: <%= @restaurant.category %></h4>


        <p><strong>Address:</strong> <%= @restaurant.address %></p>
        <p><strong>Phone number:</strong> <%= @restaurant.phone_number %></p>
      </div>
      <h2 class="text-center">Reviews</h2>
      <div class="review-display">
        <% @restaurant.reviews.each do |review| %>
          <p> User review: <%= review.content %></p>
          <p> User rating: <%= review.rating %></p>
        <% end %>
      </div>

      <h3>Write a review</h3>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "add a review", class: "btn btn-primary" %>
      <% end %>


    <div class="options">
      <p class=""><%= link_to "Back to restaurant list", root_path %></p>
      <button class="btn btn-danger"><%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: :delete %></button>
      </div>
    </div>
  </div>
</div>
